body{
	background-color : #eeeeee;
	font-family : Meiryo;
}
.new{
	float : left;
    font-size: 0.5cm;
    font-weight: bold;
	padding: 10px 30px;
    background-color: #248;
    color: #fff;
    border-style: none;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.logout{
	float : right;
    font-size: 0.5cm;
    font-weight: bold;
	padding: 10px 30px;
    background-color: #248;
    color: #fff;
    border-style: none;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.box{
	background-color : #ffffff;
	width : 300px;
	text-align : center;
	padding : 10px;
	border : 1px solid #cccccc;
	margin : 50px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}